<div class="container">
  <h2>Stack Overflow</h2>
  <div class="row">
    <div class="col-md-8">
      <%= form_for @question, url:questions_path do |q| %>
        <%= q.label :title %>
        <%= q.text_field :title, :size => '77x10' %><br><br>
        <%= q.text_area :text, :size => '80x15' %><br><br>
        <%= q.submit "Post Your Question", class: 'btn btn-primary' %>
      <% end %>
    </div>
    <div id="ask" class="col-md-4">
      <div>
        <h2>How to ask:</h2>
        <h4>Is your question about programming?</h4>
        <p>We prefer questions that can be answered, not just discussed.</p>
        <p>Provide details. Share your research.</p>
        <p>If your question is about this website, ask it on meta instead.</p>
      </div>
      <div>
        <h2>How to Format:</h2>
        <p>► put returns between paragraphs</p>
        <p>► indent code by 4 spaces</p>
        <p>► basic HTML also allowed</p>
        <p>► quote by placing " at start of line</p>
      </div>
    </div>
  </div>
</div>
