<div class="container">
  <div class="row">
    <div class="col-md-1">
      <%= link_to "", answer_votes_path(answer_id: answer.id, direction: "up", type: "answer"), method: 'post', class: "glyphicon glyphicon-chevron-up" %>
      <p><%= answer.total %> votes</p>
      <%= link_to "", answer_votes_path(answer.id, direction: "down", type: "answer"), method: 'post', class: "glyphicon glyphicon-chevron-down" %>
    </div>

    <div class="col-md-7">
      <div><h4><%= answer.text %></h4></div>
      <div>Posted By: <%= answer.user.username %></div>

      <% if session[:user_id] == answer.user_id %>
        <div>
          <%= link_to "Edit Answer", edit_answer_path(answer.id)%>
          <%= link_to "Delete Answer", answer_path(answer.id), method: :delete %>
        </div>
      <% end %>
      <% if session[:user_id] == answer.question.user_id %>
        <div>
          <%= link_to "Choose as Correct Answer", question_path(answer.question_id, type: "correct", answer: answer.id), method: 'put'%>
        </div>
      <% end %>
    </div>
  </div>
</div>
