<%= form_for answer do |f| %>
  <div><%= f.label :text %></div>
  <div><%= f.text_field :text %></div>
  <div><%= f.hidden_field :user_id %></div>
  <div><%= f.hidden_field :question_id %></div>
  <div><%= f.submit 'post' %></div>
<% end %>
